body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    
     font-size: 16px; 
     line-height: 1.6;  
    }
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    h1, h2, h3, h4, h5, h6, p{
        margin: 0;
    }
    
    .container {
    width: 100%;
    width: 1600px;
    margin: 0 auto;
    }

    header {
        width: 1600px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0%;
        z-index: 1000;
        height: 80px;
        background: #000000;
    backdrop-filter: blur(2px);
    }
    
    .header_inner {
        display: flex; 
        justify-content: left;
        margin-left: 365px;
    }
    
    .header_logo{
        box-sizing: border-box;
        position: absolute;
        width: 82px;
        height: 52px;
        left: 220px;
        top: 14px;  
        
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
        border: 1.18841px solid #FFFFFF;
        border-radius: 2px;
    }
    
    .logo_pic {
    
    position: absolute;
    width: 7.03px;
    height: 20.98px;
    left: 13.23px;
    top: 24.64px;
    
    }
    .link_logo {
        color: #FFFFFF;  
        text-decoration: none;
    }
    
    .nav {
        font-size: 16px;  
    }
    
    .nav_link {
        display: inline-block;
        color: #FFFFFF;  
        text-decoration: none;
        transition: color .2s linear;
        margin:  30px 57px 28px 0px
        
    }
    
    .nav_link:hover {
    color: #FE9013;
    }
    
    .header_designed {
    position: absolute;
    width: 105px;
    height: 22px;
    left: 1278px;
    top: 30px;
    color: #FFFFFF;
    text-decoration: none;
    
    }
    .nav_link:nth-of-type(4){
        color: #FE9013;
        pointer-events: none;
    }
    
    .intro_panda{
        position: absolute;
        height: 390px;
        left: 0px;
        right: 0px;
        top: 76px;   
    }

    .intro {
        position: absolute;
        height: 1482px;
        left: 0px;
        right: 0px;
        top: 466px;
      
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%); 
    }

    .intro_title {
        position: absolute;
        width: 100%;
        height: 47px;
        left: 220px;
        right: 223px;
        top: 40px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
       
        
        color: #FFFFFF;  
    }

    .intro_text{
        position: absolute;
        width: 1160px;
        height: 94px;
        left: 220px;
        right: 220px;
        top: 97px;
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
       
        color: #FFFFFF; 
    }

    .intro_subtitle{
        position: absolute;
        width: 341px;
        height: 47px;
        left: 220px;
        top: 231px;
      
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
       
        
        color: #FE9013;  
    }

    .donate_frame{
        position: absolute;
        height: 964px;
        left: 220px;
        width: 1160px;
        right: 220px;
        top: 338px;
        
        background: rgba(255, 255, 255, 0.52);
        backdrop-filter: blur(2px);
        
        border-radius: 20px; 
    }

    .donate_subframe{
        position: absolute;
        width: 976px;
        height: 862px;
        left: calc(50% - 976px/2);
        top: 40px;   
    }

    .donate_title {
        position: absolute;
        width: 463px;
        height: 58px;
        left: 250px;
        top: 0px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
     
        text-align: center;
        
        
        color: #FE9013;  
    }

    .donate_subtitle{
        position: absolute;
        width: 1095px;
        height: 29px;
        left: 0px;
        top: 78px;
        margin: 0;
    
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
      
        color: #333B41;  
    }
.donate_day {
    position: absolute;
    width: 82px;
    height: 58px;
    left: 253px;
    top: 272px; 
}

.donate_text {
    position: absolute;
    width: 159px;
    height: 22px;
    left: 215px;
    top: 341px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
   
    text-align: center;
    
    color: #333B41;  
}
.x-icon{
    position: absolute;
    left: 39.45%;
    right: 59.12%;
    top: 34.45%;
    bottom: 63.92%; 
}

.bear_icon{
    position: absolute;
    width: 284px;
    height: 246px;
    left: 463px;
    top: 167px;  
}

.amount{
    position: absolute;
    width: 57px;
    height: 22px;
    left: 4px;
    top: 461px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
   
    color: #000000;  
}



.range {
    position: absolute;
    width: 976px;
    height: 27px;
    left: 0px;
    top: 500px; 

    -webkit-appearance: none;
    
    background: #404950;
    
    padding-left: 10px;
    padding-right: 10px;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none; 
    background-image: url(./icons/roller_icon.png);

width: 40px;
height: 40px;
border-radius: 50%;
cursor:pointer;
}
.rectangle {
    position: absolute;
    width: 915px;
    height: 2px;
    left: 31px;
    top: 514px;
    
    background: #72828E; 
}

.elipse1 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 27px;
    top: 510px;
    border-radius: 50%;
    background: #FFEE2E;  
}

.elipse2 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 158px;
    top: 510px;
    border-radius: 50%;
    background: #FFEE2E;
}

.elipse3 {
position: absolute;
width: 10px;
height: 10px;
left: 289px;
top: 510px;
border-radius: 50%;
background: #FFEE2E;
}

.elipse4 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 420px;
    top: 510px;
    border-radius: 50%;
    background: #FFEE2E;  
}

.elipse5 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 550px;
    top: 510px;
    border-radius: 50%;
    background: #FFEE2E; 
}

.elipse6 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 681px;
    top: 510px;
    border-radius: 50%;
    background: #FFEE2E;  
}

.elipse7 {
position: absolute;
width: 10px;
height: 10px;
left: 812px;
top: 510px;
border-radius: 50%;
background: #FFEE2E;
}

.elipse8 {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 942px;
    top: 510px;
    border-radius: 50%;
    background: #FFEE2E; 
}
.price_frame{
    position: absolute;
    width: 991px;
    height: 36px;
    left: 0px;
    top: 539px; 
}
.price1 {
    position: absolute;
    width: 60px;
    height: 36px;
    left: 0px;
    top: 0px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    
    text-transform: uppercase;
    
    color: #333B41; 
}

.price2 {
 position: absolute;
width: 57px;
height: 36px;
left: 130px;
top: 0px;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    
    text-transform: uppercase;
    
    color: #333B41;
}

.price3 {
position: absolute;
width: 78px;
height: 36px;
left: 260px;
top: 0px;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    
    text-transform: uppercase;
    
    color: #333B41;-transform: uppercase;
    
    color: #333B41;
}

.price 4